body {
    font-family: 'Josefin Sans';
}

h1 {
    font-family: 'Josefin Sans';
    font-weight: 500;
}

h3 {
    margin: 0;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
    font-family: 'Josefin Sans';
}
h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}
h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
}
h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

.admin-main-nav .nav-pills > li {
    margin: 0 4px;
}

.d-header {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    transition: box-shadow 0.2s;
}

#discord-button i::before,
#search-button i::before,
#toggle-hamburger-menu i::before,
#toggle-messages-menu i::before {
    font-size: 24px;
    color: #f44336;
}

#discord-button,
#search-button,
#toggle-hamburger-menu,
#current-user,
#toggle-messages-menu {
    border-radius: 3600px;
    margin: 0 3px;
}

#discord-button:hover,
#search-button:hover,
#toggle-hamburger-menu:hover,
#current-user:hover,
#toggle-messages-menu:hover {
    background-color: #eee !important;
}

#current-user a {
    border-color: transparent !important;
}

.header-dropdown-toggle a:hover {
    background: transparent !important;
}

.category-drop-header,
.tag-drop-header {
    border-radius: 5px;
    border-color: #ddd !important;
}

.category-drop-header.is-focused,
.tag-drop-header.is-focused {
    border-color: #666 !important;
    box-shadow: none !important;
}

.badge-category-parent-bg {
    border-radius: 2px 0 0 2px;
}

.badge-category-bg {
    border-radius: 2px;
}

.badge-category-parent-bg ~ .badge-category-bg {
    border-radius: 0 2px 2px 0;
}

.badge-notification.new-topic {
    color: #f44336;
}

.badge-wrapper.bullet {
    align-items: baseline;
}

.badge-wrapper .badge-category .d-icon {
    margin-right: 3px;
    width: auto;
}

.topic-list .badge-notification {
    margin: 0;
    font-family: 'Josefin Sans';
    font-weight: 400;
    top: 0;
}

.num.views {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.title-wrapper *,
.category-name,
.selected-name,
.topic-list-item a.title,
.username,
.post-info.edits,
.post-date,
#create-topic {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.moderator .regular > .cooked {
    background-color: lightyellow;
}

.cooked {
    padding: 3;
}

#create-topic {
    border-radius: 8px;
    background-color: #f44336 !important;
    color: #fff;
    display: block;
    padding: 8px 16px;
}

.badge-card .badge-contents .badge-icon .fa::before {
    font-size: 1.2em !important;
}

#create-topic i {
    color: #fff;
    font-size: 17px !important;
    vertical-align: middle;
    line-height: 0 !important;
    margin-right: 5px;
    padding-bottom: 3px !important;
}

#create-topic svg {
    color: #fff;
}

#navigation-bar .ember-view a {
    border-radius: 8px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #444 !important;
}

#navigation-bar .ember-view a.active {
    background-color: #f44336 !important;
    color: #fff !important;
    padding: 8px 20px;
    border-radius: 8px;
}

.select-kit.single-select.is-expanded .select-kit-header:not(.btn), .select-kit.single-select .select-kit-header:not(.btn):focus, .select-kit.single-select .select-kit-header:not(.btn):active{
outline: none !important;
outline-offset: none !important;
}

.topic-list.ember-view > thead > tr > th,
.category-list .category,
.category-list .topics {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 16px;
    color: #444;
}

.topic-list.ember-view > tbody {
    border-top: 1px solid #ddd !important;
}

#navigation-bar .ember-view a:not(.active):hover {
    background-color: #fff2f2 !important;
    color: #f44336 !important;
}

.mdl-button--icon i {
    line-height: 32px;
    color: #f44336;
}

#topic-title .title-wrapper {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.posts-wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 15px 0;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.topic-body,
.topic-avatar {
    border-top: 0 !important;
}

.topic-post {
    padding: 0 15px;
}

.topic-post:not(:first-child),
.time-gap {
    border-top: 1px solid #ddd;
}

.time-gap {
    max-width: 800px !important;
}

.small-action .small-action-desc.timegap {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.topic-status-info {
    border: 0;
}

.loading-container.ember-view {
    width: auto;
    margin: 0 auto;
}

#topic-footer-buttons {
    width: -webkit-fill-available;
}

#topic-footer-button-bookmark,
#topic-footer-button-share-and-invite,
#topic-footer-button-flag {
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 5px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #666;
}

#topic-footer-button-bookmark:hover,
#topic-footer-button-share-and-invite:hover,
#topic-footer-button-flag:hover {
    color: #444;
    background-color: #eee;
}

#topic-footer-button-bookmark i,
#topic-footer-button-share-and-invite i,
#topic-footer-button-flag i,
#topic-footer-buttons .create.btn i,
.post-info.edits i::before {
    font-size: 17px;
    line-height: 0;
    vertical-align: middle;
    margin-right: 5px;
    padding-bottom: 3px;
}

#topic-footer-buttons .create.btn {
    float: right;
    border-radius: 5px;
    background-color: #f44336 !important;
    margin-right: 0;
    font-family: 'Josefin Sans';
    font-weight: 400;
    cursor: pointer;
}

.topic-notifications-button.ember-view {
    margin: 5px 0 0 0;
}

#topic-footer-buttons .topic-notifications-button .btn {
    border: 1px solid #ddd;
    border-radius: 5px;
    background: transparent;
    outline: none !important;
}

.with-shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.alert.alert-info.clickable a {
    color: #f44336;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.alert.alert-info {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 14px 18px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
}

.topic-list .topic-list-item-separator td {
    background: var(--danger-medium);
}

.topic-list .topic-list-item-separator td span {
    text-transform: capitalize;
}

#suggested-topics {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 20px;
}

.suggested-topics {
    border: 1px #ddd solid;
    border-radius: 5px;
    padding-top: 2px;
    margin-bottom: 20px;
}

.suggested-topics-title {
    font-size: 18px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.suggested-topics table,
.suggested-topics .topics {
    margin: 0;
    padding: 0;
}

.suggested-topics-message {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #666;
}

#list-area {
    margin: 0;
}

.topic-map {
    border-radius: 5px;
    background: transparent;
    margin: 0 0 20px 0;
    border: 1px solid #ddd;
}

.topic-map section {
    background: transparent;
    border: 0;
}

.topic-map section:not(:first-child) {
    border-top: 1px solid #ddd;
}

.topic-map .buttons .btn {
    background: transparent;
    border: 0;
    border-left: 1px solid #ddd;
}

.topic-map .buttons .btn i::before {
    font-size: 20px !important;
}

.topic-status i {
    margin-right: 5px;
    vertical-align: middle;
    color: #444;
}

.title-wrapper > h1 > div > span > .fa-lock::before {
    vertical-align: middle;
    padding-bottom: 5px;
    font-size: 22px;
    color: #444;
}

.post-menu-area {
    margin: 0 !important;
}

.actions > .double-button:hover button {
    background-color: transparent !important;
}

.actions > .double-button > .like-count {
    font-family: 'Josefin Sans';
    font-weight: 400;
    margin-right: 5px;
}

.post-controls button.share,
.post-controls button.show-more-actions,
.post-controls button.create-flag,
.post-controls button.bookmark,
.actions > .double-button > .toggle-like {
    padding: 0 7px !important;
    border-radius: 5px;
    height: 30px;
    margin: 0 5px;
}

.post-controls button.reply,
.post-controls button.show-replies {
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    padding: 0 7px;
    color: #444 !important;
}

.post-controls button.reply i,
.post-controls button.show-replies i {
    color: #444 !important;
    display: inline-flex;
    vertical-align: bottom;
}

.embedded-posts .collapse-up {
    border-radius: 5px;
}

.nav.post-controls .post-admin-menu {
    border-radius: 5px;
}

nav.post-controls .actions button {
    vertical-align: initial;
}

nav.post-controls button {
    border-radius: 5px;
}

nav.post-controls button:active {
    box-shadow: none;
}

nav.post-controls button:not(.reply) i::before {
    font-size: 20px !important;
}

nav.post-controls .double-button button.has-like .d-icon {
    color: #f44336;
}

// nav.post-controls .double-button button.has-like {}

blockquote::after,
blockquote::before {
    display: none;
}

blockquote {
    border-radius: 5px;
    border: 1px solid #ddd;
    border-left: 5px solid #ddd;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.35;
    font-style: normal;
    letter-spacing: 0.08em;
}

kbd,
code {
    font-family: 'Cascadia Code', monospace !important;
}

code {
    background-color: #f4f4f4 !important;
    border-radius: 5px;
    font-size: 90% !important;
    padding: 0.3em 0.5em !important;
    white-space: pre;
}

pre code {
    padding: 0.5em 0.9em !important;
}

aside .title {
    line-height: 100%;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-left: 5px solid #ddd !important;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

aside blockquote {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.lightbox .meta {
    border-radius: 0 0 5px 5px;
}

.select-kit-body {
    border-radius: 5px !important;
    overflow: hidden;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2) !important;
}

.select-kit-body ul {
    scrollbar-width: thin;
}

#topic-progress {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

#topic-progress .nums {
    color: #f44336;
}

#topic-progress .bg {
    background-color: #c7bee3;
}

#dismiss-topics,
#topic-footer-buttons .pinned-button .btn {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: #666;
    outline: none;
}

.category-list > tbody {
    border: 0;
}

.latest-topic-list .table-heading,
.top-topic-list .table-heading tbody {
    border: 0;
    border-bottom: 1px var(--primary-low) solid;
}

.category-list > tbody .category {
    border-width: 8px;
}

.category-list > thead > tr > th.category {
    padding: 0 15px;
}

.category-list > thead > tr > th.topics,
.category-list > tbody .topics {
    padding-right: 15px;
}

.category-list .category-text-title .category-name {
    font-size: 18px;
}

.category-list div.category-description {
    font-family: 'Josefin Sans';
    font-size: 14px;
}

.category-list tbody .category h3 {
    margin-top: 0;
}

.topic-status > i::before {
    vertical-align: top;
}

#carbonads {
    border: 1px solid #ddd !important;
    border-radius: 5px;
}

.carbon-img img {
    border-radius: 3px;
}

#whos-online {
    padding: 10px !important;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

#whos-online > span {
    margin-right: 10px;
}

.post-notice {
    background: #ddd;
    border-radius: 5px;
    max-width: 100%;
}

.topic-meta-data {
    align-items: center;
    height: 50px;
    padding: 0;
    padding-left: 10px;
}

.topic-meta-data .names .first.username {
    font-size: 15px;
}

.nationalflag-post {
    border-radius: 2px;
}

.discourse-tags > a::before {
    border-radius: 3600px;
    margin-bottom: 1px;
}

.edit-topic {
    float: right;
    background: rgba(200, 200, 200, 0.1);
    width: 35px;
    height: 35px;
    border-radius: 3600px;
    text-align: center;
    color: #666 !important;
    transition: background 0.2s;
}

.edit-topic:hover {
    background: #eee;
}

a {
    font-weight: 400;
}

.nav-pills > li a.active {
    color: #fff;
    background-color: #f44336;
    border-radius: 8px;
}

.btn-primary {
    border-radius: 8px;
}

.nav-pills > li > a {
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
    display: inline-flex;
}

.menu-panel {
    border-radius: 3px;
}

.d-editor-textarea-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.d-editor-textarea-wrapper,
.d-editor-preview-wrapper {
    width: -webkit-fill-available;
}

.bootbox.modal {
    border-radius: 8px;
}

.select-kit.combo-box .select-kit-header.is-focused {
    border: 1px solid #f44336;
    box-shadow: 0 0 0px 0 #f44336;
    border-radius: 8px;
}

.select-kit.combo-box .select-kit-header {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#reply-control #reply-title {
    border-radius: 8px;
    border: 1px solid #ddd;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus {
    border: 1px solid #f44336;
    outline: 0;
}

input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
    border: 1px solid #ddd;
    border-radius: 8px;
}

input,
textarea {
    margin-left: 0;
    border-radius: 8px;
    border: 1px #ddd solid;
}

.menu-panel li a.widget-link:hover,
.menu-panel li a.widget-link:focus,
.menu-panel li.heading a.widget-link:hover,
.menu-panel li.heading a.widget-link:focus {
    border-radius: 8px;
}

.badge-card.medium {
    border-radius: 8px;
    border: 1px #ddd solid;
    background-color: white;
}

.badge-card {
    border-radius: 8px;
    border: 1px #ddd solid;
    background-color: white;
}

.badge-card .badge-contents .badge-info {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.badge-card:hover {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.spinner {
    margin: 20px auto 20px auto;
    position: relative;
    -webkit-animation: rotate-forever 0.8s infinite linear;
    animation: rotate-forever 0.8s infinite linear;
    height: 30px;
    width: 30px;
    border: 4px solid #f44336;
    border-right-color: transparent;
    border-radius: 50%;
}

#user-card.show,
#group-card.show {
    border-radius: 5px;
}

.timeline-container .topic-timeline {
    margin-left: 8em;
}

.user-main .about .controls .btn {
    min-width: auto;
}

.user-menu .quick-access-panel li:not(.show-all) .d-icon {
    float: left;
    margin-right: 5px;
    padding-top: 0;
}

div.menu-links-header .menu-links-row li a.active {
    border: 1px solid #e6e6e6;
    border-bottom: 1px #fff solid;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.search-menu input[type='text'] {
    font-family: 'Josefin Sans';
    border-radius: 8px;
    border: 1px #ddd solid;
}

.panel-body-contents .search-context label {
    font-family: 'Josefin Sans';
}

.user-menu .quick-access-panel li:hover,
.user-menu .quick-access-panel li:focus {
    border-radius: 8px;
    transition: background 0.3s;
}

.user-menu .quick-access-panel li {
    background-color: #ebebeb;
    border-radius: 8px;
}

i.fa.fa-shield-alt.d-icon.d-icon-shield-alt:before {
    font-size: 1.2em;
    vertical-align: middle;
    padding-left: 4px;
}

.topic-avatar i.fa.fa-far-eye-slash.d-icon.d-icon-far-eye-slash::before {
    font-size: 1em;
    padding-left: 10px;
}

.topic-avatar i.fa.fa-user-times.d-icon.d-icon-user-times::before,
.topic-avatar i.fa.fa-user-plus.d-icon.d-icon-user-plus:before,
.topic-avatar i.fa.fa-user-plus.d-icon.d-icon-user-plus:before,
.topic-avatar i.fa.fa-lock.d-icon.d-icon-lock::before,
.topic-avatar i.fa.fa-unlock-alt.d-icon.d-icon-unlock-alt::before {
    font-size: 2em;
    padding-left: 10px;
}

div.select-kit.is-expanded .select-kit-body {
    position: static;
}

.custom-search-banner-wrap .search-menu {
    border: 1px solid #eee;
    border-radius: 8px;
}



//added from Air theme

// custom search banner customizations
.custom-search-banner-wrap {
    margin: 0 auto !important;
    max-width: unset;
    h1 {
      font-size: 4em !important;
    }
    p {
      font-size: 1.25em !important;
      font-weight: bold;
      margin-bottom: 1em;
    }
    .btn {
      height: 100%;
    }
    .search-menu input[type="text"] {
      border: 1px solid transparent;
      border-radius: 0.25em;
      min-height: 40px;
      &:focus {
        outline: 3px solid rgba(var(--primary-rgb),.35);
      }
    }
    .widget-link.show-help {
      color: rgba(var(--primary-rgb),0.75);
      border-radius: 0.5em;
      padding: 0.5em;
      background-color: rgba(var(--secondary-rgb),0.25);
      &:hover {
        color: var(--primary);
      }
    }
    .results {
      top: 28px;
      border-radius: 0.25em;
    }
    .search-context {
      top: 3.25em;
      right: 1em;
    }
  }
  
  .display-search-banner {
    #main-outlet {
      padding-top: 2em;
    }
  }
  
  // Main customizations
  .alert {
    margin: 1em 0;
  }
  
  #global-notice-alert-emails-disabled {
    display: none;
  }
  
  .topic-list th, .topic-list td {
    padding: 15px 5px;
  }
  
  .badge-wrapper.box {
    border-radius: 0.25em;
    overflow: hidden;
  }
  
  .badge-wrapper.bullet {
    .badge-category-bg {
      border-radius: 0.125em;
    }
    .badge-category-parent-bg {
      border-top-left-radius: 0.125em;
      border-bottom-left-radius: 0.125em;
      + .badge-category-bg {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0.125em;
        border-bottom-right-radius: 0.125em;
      }
    }
  }
  
  .discourse-tag {
    font-size: $font-down-1;
    border-radius: 0.25em;
    padding: 0.15em 0.25em 0.15em 0.35em;
    background-color: var(--primary-low);
    color: var(--primary) !important;
    &:hover {
      background-color: var(--primary-low-mid);
      color: var(--primary);
    }
  }
  
  .discourse-tags .discourse-tag.simple:not(:last-child)::after, .list-tags .discourse-tag.simple:not(:last-child)::after, .search-category .discourse-tag.simple:not(:last-child)::after {
    content: "";
    margin-left: unset;
  }
  
  .topic-list .link-bottom-line .discourse-tag.simple:after, .topic-list .link-bottom-line .discourse-tag.box {
    margin-right: 0px;
  }
  
  #site-text-logo {
    color: var(--primary);
  }
  
  .mobile-view {
    .cm-header-links {
      display: none;
    }
    .list-controls .nav-pills .drop li:first-of-type {
      display: none;
    }
  }
  
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .select-kit.combo-box .select-kit-header,
  .d-editor-textarea-wrapper,
  div.ac-wrap {
    border-radius: 8px;
    padding: 8px 16px;
  }
  .d-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.06);
  }
  
  .d-header-icons .d-icon {
    border-radius: 100px;
  }
  
  .d-header-icons .icon {
    border-radius: 0.25em;
    margin-left: 0.3em;
    border: 1px solid transparent;
    svg {
      font-size: 1.25em;
    }
  }
  
  .d-header-icons .icon img.avatar {
    border-radius: 0.25em;
  }
  
  .menu-panel.drop-down {
    margin-top: 1em;
    border-radius: 0.6em;
  }
  
  .drop-down-mode .d-header-icons .active .icon {
    border: 1px solid transparent;
    .d-icon {
      color: var(--tertiary);
    }
  }
  
  .drop-down-mode .d-header-icons .active .icon:hover {
    border: 1px solid transparent;
  }
  
  .menu-panel .widget-link:hover,
  .menu-panel .widget-link:focus,
  .menu-panel .categories-link:hover,
  .menu-panel .categories-link:focus {
    background-color: rgba(var(--tertiary-rgb),0.3);
  }
  
  .btn:not(.themes-tab):not(.components-tab),
  .select-kit.dropdown-select-box .dropdown-select-box-header {
    border-radius: 8px;
    border: 1px solid transparent;
  }
  
  .post-admin-menu.popup-menu {
    .btn.widget-button {
      border-radius: 0px;
    }
  }
  
  .unread-high-priority-notifications {
    background: var(--quaternary);
  }
  
  .timeline-container .topic-timeline .timeline-handle {
    background-color: var(--tertiary);
  }
  
  .timeline-container .topic-timeline .timeline-scrollarea {
    border-left-color: var(--tertiary);
  }
  
  // graceful ish style
  @mixin box-shadow($value: 0px) {
    box-shadow: 0 24px 40px rgba(0,0,0,.07),0 10.8529px 24.1177px rgba(0,0,0,.0456112),0 4.50776px 10.0172px rgba(0,0,0,.035),0 1.63037px 3.62304px rgba(0,0,0,.0243888);
  }
  
  html {
    body {
      background: linear-gradient(0deg, rgba(var(--primary-rgb),0.075) 0%, rgba(var(--primary-rgb),0.075) 100%),
      linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
    }
    .background-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: linear-gradient(90deg, var(--tertiary-hover) 0%, var(--tertiary) 100%); 
      clip-path: ellipse(148% 70% at 91% -14%);
    }
  }
  
  html body #main-outlet {
    margin-top: 30px;
    margin-bottom: 50px;
    background: var(--secondary);
    border-radius: 2em;
    padding: 3em 3em 5%;
    max-width: 1150px;
    .archetype-regular & {
      min-height: 500px;
    }
    @media screen and (max-width: 700px) {
      padding: 1.5em;
      margin-top: 0;
    }
    padding-bottom: 5% !important; //overriding inline style
    @include box-shadow;
    @media screen and (max-width: 1120px) {
      width: 80%;
    }
    @media screen and (max-width: 1075px) {
      width: 85%;
    }
  }
  
  .nav-pills > li a.active,
  .nav-pills > li > a {
    border-radius: 0.5em;
  }
  
  // Topic List
  
  @keyframes background-fade-highlight {
    0% {
      background-color: var(--highlight-low);
    }
    100% {
      background-color: var(--secondary);
    }
  }
  
  .full-width .contents .topic-list {
    border-collapse: separate;
    border-spacing: 0 0.25em;
    display: contents;
    thead {
      tr {
        display: flex;
        border-bottom: none;
        margin-bottom: 8px;
      }
      display: contents;
      th.default {
        width: 63%;
      }
      th.posters {
        width: 7%;
      }
      th.posts {
        width: 15%;
      }
      th.activity {
        width: 15%;
      }
    }
    tbody {
      display: contents;
      tr.topic-list-item-separator {
        width: 100%;
        margin: 0.75em 0;
        display: flex;
        td {
          width: 100%;
        }
      }
      tr:not(.topic-list-item-separator) {
        width: 100%;
        display: flex;
        margin-bottom: .5em;
        background-color: var(--secondary);
        border: 1px solid transparent;
        border-radius: 1em;
        position: relative;
        transition: box-shadow .3s ease-in-out;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
        &.visited {
          .discourse-tag {
            opacity: 0.75;
          }
          &:hover {
            border: 1px solid rgba(var(--primary-rgb),0.25);
            .discourse-tag {
              opacity: 1;
            }
          }
        }
        &:hover {
          background-color: var(--secondary);
          box-shadow: 0px 0px 12px rgba(0,0,0,0.10);
          border: 1px solid rgba(var(--primary-rgb),0.30);
          a.title:not(.badge-notification),
          a.topic-excerpt {
            color: var(--primary) !important;
          }
        }
        td.main-link {
          width: 63%;
          order: 2;
        }
        td.posters {
          width: 7%;
          order: 1;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          a:not(:first-of-type) {
            display: none
          }
        }
        td.posts {
          width: 15%;
          order: 3;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        td.age {
          width: 15%;
          order: 4;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  
  td.num.views, th.num.views {
    display: none;
  }
  
  .full-width .contents .topic-list .topic-list-item .posters a:first-of-type {
    margin-right: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .avatar {
      margin-right: 0;
    }
  }
  
  .full-width .contents .topic-list {
    .topic-list-item {
      .main-link {
        min-height: 100%;
        min-height: 100%;
        .link-top-line {
          display: block;
          margin-bottom: 0.25em;
        }
        .title {
          font-weight: bold;
        }
        .link-area {
          display: flex;
          .link-title-area {
            margin-right: 1em;
            font-size: $font-up-1;
          }
          .link-meta-area {
            font-size: $font-down-3;
            display: flex;
            align-items: center;
          }
        }
      }
      .posters {
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 8px;
        }
        a:first-of-type {
          .avatar {
            margin-right: 0;
          }
        }
        a:not(:first-of-type) {
          margin-left: -22px;
          .avatar {
            border: 3px solid var(--secondary);
          }
        }
      }
      .posts-map, .num.age.activity {
        a { 
          padding: 0 
        }
      }
      .posts-map {
        position: relative;
        .number {
          margin-right: 0.25em;
          // &::before {
          //   content: url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZm9jdXNhYmxlPSJmYWxzZSIgZGF0YS1wcmVmaXg9ImZhciIgZGF0YS1pY29uPSJjb21tZW50IiBjbGFzcz0ic3ZnLWlubGluZS0tZmEgZmEtY29tbWVudCBmYS13LTE2IiByb2xlPSJpbWciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUxMiA1MTIiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTI1NiAzMkMxMTQuNiAzMiAwIDEyNS4xIDAgMjQwYzAgNDcuNiAxOS45IDkxLjIgNTIuOSAxMjYuM0MzOCA0MDUuNyA3IDQzOS4xIDYuNSA0MzkuNWMtNi42IDctOC40IDE3LjItNC42IDI2UzE0LjQgNDgwIDI0IDQ4MGM2MS41IDAgMTEwLTI1LjcgMTM5LjEtNDYuM0MxOTIgNDQyLjggMjIzLjIgNDQ4IDI1NiA0NDhjMTQxLjQgMCAyNTYtOTMuMSAyNTYtMjA4UzM5Ny40IDMyIDI1NiAzMnptMCAzNjhjLTI2LjcgMC01My4xLTQuMS03OC40LTEyLjFsLTIyLjctNy4yLTE5LjUgMTMuOGMtMTQuMyAxMC4xLTMzLjkgMjEuNC01Ny41IDI5IDcuMy0xMi4xIDE0LjQtMjUuNyAxOS45LTQwLjJsMTAuNi0yOC4xLTIwLjYtMjEuOEM2OS43IDMxNC4xIDQ4IDI4Mi4yIDQ4IDI0MGMwLTg4LjIgOTMuMy0xNjAgMjA4LTE2MHMyMDggNzEuOCAyMDggMTYwLTkzLjMgMTYwLTIwOCAxNjB6Ij48L3BhdGg+PC9zdmc+);
          //   width: 20px;
          //   height: 20px;
          //   position: absolute;
          //   left: -20px;
          //   top: 13px;
          //   opacity: 0.25;
          // }
        }
      }
      .post-activity {
        .d-icon-reply {
          color: var(--primary-medium);
          margin-right: 0.25em;
        }
        .relative-date {
          color: var(--primary-medium);
        }
      }
    }
  }
  
  // increase nav space of nav bar
  .category-breadcrumb .select-kit-header, #navigation-bar, .navigation-controls {
    margin-bottom: 1.25em;
  }
  
  .navigation-container {
    margin-top: 2em;
  }

  .discourse-no-touch .sortable:hover, .discourse-no-touch .sortable:focus {
      background-color: transparent !important;
  }

  .select-kit.is-expanded .select-kit-body {
      border-radius: 10px !important;
  }

  div.menu-links-header .menu-links-row button.active{
      border-radius: 8px;
  }

  div.menu-links-header .menu-links-row button:not(.active):hover {
      border-radius: 8px;
  }

  .user-menu .quick-access-panel li a {
    padding: 0.5em 0.5em !important;
  }

  .user-menu .quick-access-panel li.do-not-disturb .do-not-disturb-inner-container {
    padding: 0.9em 0.5em !important;
    border-radius: 8px !important;
  }

  .menu-panel .panel-body-bottom {
      margin-top: unset !important;
  }

  .user-menu .quick-access-panel.quick-access-profile ul button {
    padding: 0.9em 0.5em !important;
    border-radius: 8px !important;
  }

  .menu-panel .widget-link, .menu-panel .categories-link {
    padding: 0.5em 0.5em !important;
  }